page-minha-conta {
    .topo-user {
        padding: 0 0 15px 0;
        ion-avatar {
            height: 200px;
            background: rgb(5, 32, 73) !important;
            background: -moz-linear-gradient(-45deg, rgba(5, 32, 73,1) 0%, rgb(0, 0, 0) 100%) !important;
            background: -webkit-linear-gradient(-45deg, rgba(5, 32, 73 ,1) 0%, rgb(0, 0, 0) 100%) !important;
            background: linear-gradient(135deg, rgba(5, 32, 73, 1) 0%, rgb(0, 0, 0) 100%) !important;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001cf5', endColorstr='#00bffa', GradientType=1) !important;
            padding: 0;
            color: #fff;
            text-align: center;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: inline-block;
                margin-top: 25px;
                box-shadow: 0 0 0 5px #ffffff;
            }
            ion-icon {
                background: #FFF;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                position: absolute;
                left: 48%;
                top:18%;
                bottom: 0;
                margin-left: 30px;
                font-size: 1.8em;
            }
        }
        h2 {
            color: #fff;
            padding-top: 10px;
            text-align: center;
            margin: 0;
            font-size: 1.4em;
        }
        p {
            text-align: center;
            color: #fff;
            margin: 7px;
        }
    }
    ion-list {
        padding: 20px
    }
    .bt-edit-dados {
        padding: 0 20px 20px 20px;
        text-align: center;
        a {
            color:darkred;
            margin: 15px 0 10px 0;
            display: inline-block;
        }
    }
    .button {
        background: rgb(5, 32, 73) !important;
        background: -moz-linear-gradient(-45deg, rgba(5, 32, 73,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: -webkit-linear-gradient(-45deg, rgba(5, 32, 73 ,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: linear-gradient(135deg, rgba(5, 32, 73, 1) 0%, rgb(0, 0, 0) 100%) !important;
    }
    .index-formularios2 {
        

        margin-top: -12px;
        .item {
            background: transparent;
            padding-left: 0;
            min-height: 3.5em;
            margin-top: 5px;
            .label {
                margin: 0;
                //width: 30px;
                display: flex;
                //justify-content: center;
                .icon {
                    margin: 0;
                    color: #000;
                }
            }
            .text-input {
              
                color: #555;
                color: #555;
                font-size: 13px;
                text-align: left;
               // height: 70px;
                &::placeholder {
                    color: #555;
                    opacity: 0.5;
                }
               
                
            }
           
           
           
        }
      }
     
      @media (min-width: 0px) {
        .topo-user {
            padding: 0 0 15px 0;
            ion-avatar {
                height: 200px;
                background: rgb(5, 32, 73) !important;
                background: -moz-linear-gradient(-45deg, rgba(5, 32, 73,1) 0%, rgb(0, 0, 0) 100%) !important;
                background: -webkit-linear-gradient(-45deg, rgba(5, 32, 73 ,1) 0%, rgb(0, 0, 0) 100%) !important;
                background: linear-gradient(135deg, rgba(5, 32, 73, 1) 0%, rgb(0, 0, 0) 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001cf5', endColorstr='#00bffa', GradientType=1) !important;
                padding: 0;
                color: #fff;
                text-align: center;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-top: 25px;
                    box-shadow: 0 0 0 5px #ffffff;
                }
                ion-icon {
                    background: #FFF;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    position: absolute;
                    left: 48%;
                    top:13%;
                    bottom: 0;
                    margin-left: 30px;
                    font-size: 1.8em;
                }
            }
            h2 {
                color: #fff;
                padding-top: 10px;
                text-align: center;
                margin: 0;
                font-size: 1.4em;
            }
            p {
                text-align: center;
                color: #fff;
                margin: 7px;
            }
        }
    }

    .error{
        color:red;
    }
    .topo-user2 {
        text-align: center;
        position: relative;
        padding: 16px 16px 31px 16px !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        h3 {
            color: white;
            opacity: 0.5;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 1rem !important;
        }
        h1 {
            color: white;
            font-size: 32px;
            margin-top: 1rem;
            font-weight: 900;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            span {
                font-size: 12px;
                opacity: 0.5;
                margin-right: 5px;
            }
        }
        
        button {
            background: rgba(255, 255, 255, 0.2);
            border: 2px solid white;
            border-radius: 5px;
            box-shadow: none;
            margin-top: 2rem;
        }
        button.button-small {
            background: #fff;
            border: 2px solid white;
            border-radius: 5px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            position: absolute;
            height: 30px;
            line-height: 30px;
            width: 150px;
            font-size: 10px;
            bottom: -17px;
            left: 50%;
            margin-left: -75px;
            color: #0071f8;
        }
    }
    .card-md {
        margin: 16px;
        border-radius: 2px;
        width: calc(100% - 32px);
    }
    .list-estabelecimentos {
        text-align: center;
        > h1 {
            color: #0071f8;
            font-size: 18px;
            padding-top: 10px;
        }
        .grid {
            padding: 0;
        }
        .box-list {
            padding: 10px 0 5px;
            h2 {
                text-align: center;
                width: 100% !important;
            }
            p {
                text-align: center;
                width: 100% !important;
            }
        }
        .total-servico {
            border-right: 1px solid #f4f4f4;
            h2 {
                font-size: 10px;
                color: #666;
                opacity: 0.5;
            }
            h1 {
                color: #666;
                font-weight: 900;
                font-size: 1.8rem;
            }
        }
        .servico-pendente {
            border-right: 1px solid #f4f4f4;
            h2 {
                font-size: 10px;
                color: orange;
                opacity: 0.5;
            }
            h1 {
                color: orange;
                font-weight: 900;
                font-size: 1.8rem;
            }
        }
        .servico-finalizado {
            border-top: 1px solid #f4f4f4;
            border-right: 1px solid #f4f4f4;
            &::last-child {
                border-right: 0;
            }
            h2 {
                font-size: 10px;
                color: green;
                opacity: 0.5;
            }
            h1 {
                color: green;
                font-weight: 900;
                font-size: 1.8rem;
            }
            &.pagos {
                h2, h1 {
                    color: blueviolet;
                }
            }
            &.pendente {
                h2, h1 {
                    color: blue;
                }
            }
        }
        .finalizado-total {
            border-top: 1px solid #f4f4f4;
            background: rgba(244, 244, 244, 0.49);
            padding: 10px;
            h2 {
                font-size: 10px;
                color: #0071f8;
                opacity: 0.5;
            }
            h1 {
                color: #0071f8;
                font-weight: 900;
            }
        }
    }
}
