page-code-pesquisa {
    .searchbar .searchbar-clear-icon {
        background-size: 15px;
        background-color: transparent;
    }
    .thumbs_search{
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 7px;
      width: 80px;
      height: 80px;
    }
}
