<ion-header>

    <ion-navbar color="primary">
      <ion-title>Áudios</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>
      <div class="media-bar wd100"><!--Botão de gravação-->
          <div class="buttons-bar box-flex">
                <button *ngIf="!recording" ion-button primary (click)="startRecord()"  round ><ion-icon name="mic"></ion-icon></button>
              <div *ngIf="recording && !isSelecionado">
                <button ion-button danger class="button-md-danger" (click)="stopRecord()" round><ion-icon name="mic-off"></ion-icon></button>
              </div>
              <span *ngIf="recording">{{timeFinal}}</span>
              <div *ngIf="isSelecionado && !isEnviando">
                <button ion-button danger class="button-md-danger" (click)="eraseAudio()" round><ion-icon name="trash"></ion-icon></button>
              </div>
              <div *ngIf="isSelecionado && !isEnviando">
                <button ion-button danger class="button-md-green" (click)="sendVideoFTP()" round><ion-icon name="cloud-upload"></ion-icon></button>
              </div>
              <div *ngIf="isEnviando">
                <button ion-button danger class="button-md-danger" (click)="uploadCancelFTP()" [disabled]="inCanceled" round><ion-icon name="close-circle"></ion-icon></button>
              </div>
          </div>
        </div>
        <div>
            <ion-list>
                <ion-item *ngIf="isSelecionado && !isEnviando">
                  <p>{{audio.filename}}</p>
                  <div>
                      <audio controls>
                          <source [src]="fileUpload" type="audio/mpeg">
                        Seu dispositivo não suporta esse formato de audio.
                      </audio>
                  </div>
                  <!-- <button ion-button clear item-end large (click)="playAudio(audio.filename, i)">
                    <ion-icon name="play"   *ngIf="!isPlayed"></ion-icon>
                    <ion-icon name="pause"  *ngIf="isPlayed"></ion-icon>
                  </button> -->
                </ion-item>
              </ion-list>
        </div>
        <div class="uploading" *ngIf="inUpload"><!--Barra de progresso do upload-->
            <progress id="progressbar" max="100" value="{{ uploadPercent }}"> </progress>
            <div id="progressbarlabel">{{ uploadPercent }} %</div>
            <div *ngIf="inUpload" id="progressbarlabel"><span *ngIf="inUpload && !inProgress">Aguarde...</span><span *ngIf="inUpload && inProgress">Enviando áudio...</span></div>
        </div>
        <ion-item-divider color="secondary" class="divider-graffit">
        </ion-item-divider>

    <!-- <div class="select" (click)="validaPacote()"> <ion-icon color="primary" class="icone_tam" name="videocam"></ion-icon> <ion-icon color="primary" class="icone" name="add"></ion-icon></div> -->
    <div>
      <!--   <progress-bar [progress]="progress"></progress-bar> -->
       <ion-list>
        <ion-item  *ngFor="let video of videos">
          <div>
              <audio controls>
                  <source [src]="video.audio_link" type="audio/mpeg">
                Seu dispositivo não suporta esse formato de audio.
              </audio>
          </div>
          <button ion-fab mini  item-end (click)="showConfirm(video.id)" *ngIf="video.id">
            <ion-icon name="trash"></ion-icon>
          </button>
          <!-- <button ion-fab mini  item-end (click)="showConfirm(video.id)" *ngIf="post_status == 2">
            <ion-icon name="trash"></ion-icon>
          </button> -->
        </ion-item>
      </ion-list>
      </div>
  </ion-content>
